@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@200;300;400&family=Cinzel+Decorative&family=Roboto+Slab:wght@300;400&display=swap');

// Body
$body-bg: #f9f9f9; // rgb(249,249,249)

// Typography
$font-family-sans-serif: 'GaramondPremrPro', serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$redgif-purple: #8c18f1;

$black: #1c1f2b;
$white: #FCFCFC; // #DDEAFC;
$halloween: #FF7619;     // rgb(255,118,25)
$china-red: #D73E2D;
$kawaii-purple: #A65EA6; // rgb(166,94,166)

$toolbar: #3F444A;
$post-bg: #383c42;
$sidebar-bg: #42464e;

$border-color: #595d63;

// Dark slate grays
$darkgray: #383c42; //
$darkgrayrgb: rgb(56,60,66);
$darkgray2: #2d3238;
$darkgrayrgb2: rgb(45,50,56);
// #2d3238 rgb(45,50,56)
// #42464e rgb(66,70,78)
$linen: #f8f2ed; // rgb(248,242,237)
$linenrgb: rgb(248,242,237);
$silver: #b5b9c1; // rgb(181,185,193)
$silverrgb: rgb(181,185,193);
$gold: #b7a275;
$gold-dark: #bdaa7f;

$width-mobile: 320px;
$width-mobile-hi-res: 415px;
$width-mobile-wide: 645px;
$width-tablet: 768px;
$width-monitor: 1080px;
$width-monitor-wide: 1440px;
$width-highres: 2560px;

$pulse-start: linear-gradient(90deg, rgba(146,5,179,1) 0%, rgba(219,168,219,1) 47%, rgba(255,0,213,1) 100%);
$pulse2: linear-gradient(90deg, rgba(219,168,219,1) 3%, rgba(146,5,179,1) 14%, rgba(255,0,213,1) 100%);
$pulse3: linear-gradient(90deg, rgba(219,168,219,1) 29%, rgba(146,5,179,1) 48%, rgba(255,0,213,1) 100%);
$pulse4: linear-gradient(90deg, rgba(219,168,219,1) 53%, rgba(146,5,179,1) 72%, rgba(255,0,213,1) 100%);
