@font-face {
  font-family: Base;
  src: url('fonts/Base4.ttf');
}

@font-face {
  font-family: GaramondPremrPro;
  src: url('fonts/GaramondPremrPro.otf');
}

@font-face {
  font-family: Bauhaus;
  src: url('fonts/Bauhaus-Normal.ttf');
  font-style: normal;
}

@font-face {
  font-family: Bauhaus;
  src: url('fonts/BauhausStd-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: BauhausHeavy;
  src: url('fonts/BauhausStd-Heavy.otf');
}

@font-face {
  font-family: BauhausLight;
  src: url('fonts/BauhausStd-Light.otf');
}

@font-face {
  font-family: BauhausThin;
  src: url('fonts/Bauhaus-Thin.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansLight;
  src: url('fonts/OpenSans-Light.ttf');
}




