@font-face {
  font-family: Base;
  src: url('fonts/Base4.ttf');
}

@font-face {
  font-family: GaramondPremrPro;
  src: url('fonts/GaramondPremrPro.otf');
}

@font-face {
  font-family: OpenSans;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSansLight;
  src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: ParkLane;
  src: url('fonts/ParkLane.ttf');
}

@font-face {
  font-family: ParkLaneNF;
  src: url('fonts/Park Lane NF.ttf');
}

@font-face {
  font-family: ParkinsonRoman;
  src: url('fonts/Parkinson-Roman.otf');
}

@font-face {
  font-family: Copasetic;
  src: url('fonts/Copasetic NF.ttf');
}

@font-face {
  font-family: Ironick;
  src: url('fonts/Ironick NF.ttf')
}






