.email-label,
.password-label,
.user-label {
  color: $black;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
}

.form-control {
  padding-right: 100px;

  a {
    color: #0000F5;
  }
}

.position-wrapper {
  position: relative;
  width: 100%;
}

.position-button {
  position: absolute;
  right: 1px;
  top: 26.5px;
  border: 0;
  padding: 6px;
  background-color: transparent;
  box-sizing: border-box;
  text-align: right;
  outline: 0;
  z-index: 1;
}

.form-check-input {
  margin-left: 0;
  margin-right: 7px;
  position: relative;
}

.form-group-bottom {
  margin-bottom: 0;
}

.form-container {
  margin: calc(25vh - 185px) auto;
}

.form-header {
  text-align: center !important;
}

