.card {
  background-color: transparent;
  color: $redgif-purple;
}

.card-header {
  border-color: $border-color;
}

.banner p {
  display: inline;
  margin: 0 12px;
}

.page-navigation__container {
  display: block;
  float: left;
}
