.light {
  background-image: url('./storage/assets/goldleaf.jpg');
  background-position: 50% 20%;
  color: $black;
  animation-name: slide;
  animation-duration: 400s;
  animation-iteration-count: infinite;
  animation-delay: 1s;

  .container {
    background-color: $body-bg;
  }
}

.dark {
  background-color: $black;
  color: $white;

  .modal {
    color: $black;
  }
}

@keyframes slide {
  0% {
    background-position: 50% 20%;
  }
  25% {
    background-position: 60% 20%;
  }
  50% {
    background-position: 80% 50%;
  }
  75% {
    background-position: 60% 20%;
  }
  100% {
    background-position: 50% 20%;
  }
}

.container,
.container-fluid {
  margin: 2.5vh auto;
  padding: 2.5vh 0 5vh 0;
}


.scroll__container {
  position: relative;
  overflow: hidden;
}

.scroll {
  position: inherit;
  left: 150%;
}

.scroll.animate {
  animation-duration: 2s;
  animation-name: slidein;
  left: 0;
}

@keyframes slidein {
  from {
    left: 150%
  }

  to {
    left: 0;
  }
}

.scroll.animate__reverse {
  animation-duration: 2s;
  animation-name: slideout;
  left: 150%;
}

@keyframes slideout {
  from {
    left: 0;
  }

  to {
    left: 150%;
  }
}

/* Tabbed Display */
.settings__container {
  display: flex;
}

.display__container {
  width: 35vw;
  height: 35vh;
}

.form__wrapper {
  display: none;
  border: .5px solid black;
  min-width: 30vw;
  padding: 10px 20px;
}

.nav__item {
  border: 1px solid black;
  padding: 5px 15px 5px 2px;
  margin-right: 1px;
  min-width: 85px;
}

.active {
  display: block;
}

.nav__active {
  color: blue;
  text-decoration: underline;
}



/* Responsive */

@media(max-width: $width-mobile-wide) {
  .row {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}


