/* Page styles */

/* Light theme - default */
.light {
    background-image: url('./storage/assets/westfieldmapview.jpg');
    background-position: 50% 20%;
    color: $black;
    animation-name: slide;
    animation-duration: 400s;
    animation-iteration-count: infinite;
    animation-delay: 1s;

    .container, .container-fluid {
        background-color: $body-bg;
    }
}

/* Dark styles */
%dark-theme {
    background-color: $black;
    color: $white;

    .bg-white,
    .bg-light {
        background-color: $black !important;
    }

    .modal {
        color: inherit;

        .modal-content {
            background-color: $post-bg;

            button {
                color: $black !important;
            }
        }

    }

    .highlighted {
        color: $black;
    }

    .highlighted::marker {
        color: $white;
    }

    .quote-letter {
        border: 1px solid $white;
    }

}

@mixin dark($bgColor) {
    a {
        color: $bgColor !important;
    }

    .quote-letter {
        border: 1px solid $bgColor;
    }

    nav a {
        color: $bgColor;
    }

    .post-title,
    .post-subtitle,
    .post-section-subtitle,
    .post-section-title {
        color: $bgColor;
    }

    button {
        color: $bgColor;

        .btn-link {
            color: inherit;
        }
    }

    .arrow-up-widget {
        border-color: $bgColor;
    }
}

/* Default Dark theme */
.dark {
    @extend %dark-theme;
}

/* Dark (Spooky) */
.seasonal {
    @extend %dark-theme;

    @include dark($halloween);
}

/* Dark (Red) */
.dark-red {
    @extend %dark-theme;

    @include dark($strong-red);
}

/* Dark (Green) */
.dark-green {
    @extend %dark-theme;

    @include dark($green);
}


@keyframes slide {
    0% {
        background-position: 50% 20%;
    }
    25% {
        background-position: 60% 25%;
    }
    50% {
        background-position: 70% 30%;
    }
    75% {
        background-position: 60% 25%;
    }
    100% {
        background-position: 50% 20%;
    }
}

.container {
    margin: 2.5vh auto;
    max-width: 68vw; // 960px;
    padding: 2.5vh 0 5vh 0;
    justify-content: center;
    align-items: center;
}





.display-container {
    width: 35vw;
    height: 35vh;
}







/**
.nav__active {
    color: whitesmoke;
    width: 210px;
    left: 15px;
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);

    &:before {
        width: 100%;
        border-radius: 3px;
    }
}
**/

/* Responsive */

@media(max-width: $width-tablet) {
    .container {
        max-width: 960px;
    }

    .row {
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
    }

    article {
        font-size: 18px;
    }
}


