body {
  /*background-image: url('./static/assets/goldleaf.jpg');
  background-position: 50% 20%;*/
  background-color: $black;
  color: $white;
}

.page-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 12.5px;
}

.contrast__dark {
    color: black;
}

.contrast__light {
    color: $white;
}

.scroll__container {
  position: relative;
  overflow: hidden;
}

.scroll {
  position: inherit;
  left: 150%;
}

.scroll.animate {
  animation-duration: 2s;
  animation-name: slidein;
  left: 0;
}

@keyframes slidein {
  from {
    left: 150%
  }

  to {
    left: 0;
  }
}

.scroll.animate__reverse {
  animation-duration: 2s;
  animation-name: slideout;
  left: 150%;
}

@keyframes slideout {
  from {
    left: 0;
  }

  to {
    left: 150%;
  }
}


