nav.navbar-dark {
    background-color: #000000;
    color: $white;
}

a.navbar-brand,
.nav-item a {

    color: inherit;
    font-weight: bold;
    font-size: $font-size-base;

    &:hover {
        color: $blue;
        text-decoration: underline;
    }
}

.nav-item {
    padding: 5px 15px 5px 2px;
    margin-right: 1px;
    min-width: 85px;
}

.navbar-brand {
    margin-left: 7.5vw;
}

ul.nav {
    margin-right: 7.5vw;
}

.bg-lite {
    background-color: inherit;
}

nav#nav {
    border-bottom: 1px solid #dee2e6;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    .icon {
        position: relative;
        background: #ffffff;
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover {
            .tooltip {
                top: -45px;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }

            span, .tooltip {
                text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .tooltip {
        position: absolute;
        top: 0;
        font-size: 16px;
        background: #ffffff;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: #ffffff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
    }

    .apple,
    .apple:hover,
    .apple:hover .tooltip,
    .apple:hover .tooltip::before {
        background: #ad1af2;
        color: #ffffff;
    }

    .rss,
    .rss:hover,
    .rss:hover .tooltip,
    .rss:hover .tooltip::before {
        background: #1877F2;
        color: #ffffff;
    }

    .youtube,
    .youtube:hover,
    .youtube:hover .tooltip,
    .youtube:hover .tooltip::before {
        background: #FF0000;
        color: #ffffff;
    }

    .youtube:hover {
        background: #ff0000b2;
    }

    .twitter,
    .twitter:hover,
    .twitter:hover .tooltip,
    .twitter:hover .tooltip::before {
        background: #1DA1F2;
        color: #ffffff;
    }

    .facebook,
    .facebook:hover,
    .facebook:hover .tooltip,
    .facebook:hover .tooltip::before {
        background: #1877F2;
        color: #ffffff;
    }

    
}

a.social-media > i::before {
    content: "\f081"

}

/**
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
*/
/**
.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}




.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
}


 */


.social-link a::before {
    content: "\E0A3";
}


