.post__date {
    font-size: 13px;
    line-height: .75rem;
    font-style: italic;
}

.post__title {
    font-family: ParkLane;
    font-size: 4rem;
    text-align: center !important;
    margin-bottom: 1rem !important;
}

.post__subtitle {
    text-align: center !important;
    font-family: Copasetic;
}

.post__section-title {
    font-family: Copasetic;
    text-align: center !important;
}

#chainOfTitle {
    text-align: center !important;
    ol {
        list-style: none;
    }
}

aside {
    text-align: center !important;
    ul {
        list-style: none;
    }
}

blockquote {
    font-family: Ironick;
    font-size: 1.3rem;
}

figure {
    margin: 3rem auto;

    img {
        margin: 0 auto !important;
    }

    figcaption {
        text-align: center !important;
    }
}

.quote__letter {
    border: 1px solid black;
    text-align: center !important;
    font-style: italic;
    padding: 15px 15px;
}

.figure__image {
    width: 54vw;
    height: 40vh;
}

.aspect-ratio__square {
    width: 50vw;
    height: 50vh;
}

.aspect-ratio__sixteen-nine {
    width: 89vw;
    height: 50vh;
}

.aspect-ratio__four-three {
    width: 67vw;
    height: 50vh;
}

.aspect-ratio__point-eight {
    width: 43vw;
    height: 50vh;
}

.aspect-ratio__eight-five {
    width: 80vw;
    height: 50vh;
}

