figure {
    display: block;
    margin: 3rem auto;

    img {
        display: block;
        margin: 0 auto !important;
        max-width: 100% !important; //calc(100vw - 25px) !important;
    }

    figcaption {
        font-size: .85rem;
        text-align: center !important;
    }
}

.post__date {
    font-size: 13px;
    line-height: .75rem;
    font-style: italic;
}


%post__section {
    font-family: Copasetic;
    text-align: center !important;
}

.post__section-title {
    @extend %post__section;
    font-size: 3rem;
}

.post__section-subtitle {
    @extend %post__section;
    font-size: 2rem;
}

.post__footnotes {
    li {
        font-size: .75rem;
        word-break: break-all;
    }
}

.post__title {
    font-family: ParkLane;
    font-size: 4rem;
    text-align: center !important;
    margin-bottom: 1rem !important;
}

.post__subtitle {
    text-align: center !important;
    font-family: Copasetic;
    line-height: 5rem;
}



#chainOfTitle {
    text-align: center !important;
    ol {
        list-style: none;
    }
}

#disclaimer {
    font-size: .75rem;
}

aside {
    text-align: center !important;
    ul {
        list-style: none;
    }
}

blockquote {
    font-size: 1.3rem;
}


.quote__letter {
    border: 1px solid black;
    text-align: center !important;
    font-style: italic;
    padding: 15px 15px;
}

.figure__image {
    width: 54vw;
    height: 40vh;
}

.aspect-ratio__square {
    width: 30vw;
    height: 30vh;
}

.aspect-ratio__sixteen-nine {
    width: 89vw;
    height: 50vh;
}

.aspect-ratio__four-three {
    width: 67vw;
    height: 50vh;
}

.aspect-ratio__point-eight {
    width: 24vw;
    height: 30vh;
}

.aspect-ratio__three-two {
     width: 30vw;
     height: 23vh;
}

.aspect-ratio__ten-eight {
    width: 30vw;
    height: 24vh;
}

article {
    margin-top: 2rem;
}