.write-post__container {
    line-height: 1.4rem;
    font-stretch: 100%;
}

.editor {
    margin: .5rem;
}

.write-post__inner-container {

}

.write-post__form textarea {
    display: none;
    background-color: $post-bg;
    color: $white;
    padding: 10px 5px;
}

.text-input__container {
    width: 100%;
}

.btn {
    float: right;
    min-width: 100px;
}


.text-input__display {
    background-color: $post-bg;
    color: $white;
    min-width: inherit;
    min-height: 100px;
    padding: 10px 5px;
    border-color: $white;
    border-width: 3px;
    border-style: solid;
}

.progress-display {
    height: 50px;
}

.fr-wrapper {
    position:relative;
    z-index:1
}

.fr-wrapper::after {
    clear:both;
    display:block;
    content:"";
    height:0
}

.fr-wrapper .fr-placeholder {
    position:absolute;
    font-size:12px;
    color:$white;
    z-index:1;
    display:none;
    top:0;
    left:0;
    right:0;
    overflow:hidden
}

.text-input__container .fr-placeholder {
    position:absolute;
    font-size:12px;
    color:$white;
    z-index:1;
    display:none;
    top: 25px;
    left: 50px;
    overflow:hidden
}

.upload-label {
    position:absolute;
    font-size: 12px;
    z-index: 1;
    top: 55px;
    left: 50px;
    overflow: hidden;
}

.fr-wrapper.show-placeholder .fr-placeholder {
    display: block;
}

.text-input__container.show-placeholder .fr-placeholder {
    display: block;
}

.fr-box .fr-wrapper.show-placeholder .fr-placeholder {
    position:absolute
}
