.box {
    font-size: 1rem;
    background-color: #c8dadf;
    color: black;
    position: relative;
    padding: 20px 15px;
}

.box.has-advanced-upload {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.text-input__display.has-advanced-upload {
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
    /*outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;*/
    outline-color: #838383;
    background-color: $cyan;
}

.editor.is-dragover {
    /*outline-offset: -20px;*/
    outline-color: #c8dadf;
    background-color: #fff;
}

.text-input__display.is-dragover {
    /*outline-offset: -20px;*/
    outline-color: #838383;
    background-color: $redgif-purple;
}

.box-dragndrop,
.box-icon {
    display: none;
}

.box.has-advanced-upload .box-dragndrop {
    display: inline;
}

.box.has-advanced-upload .box-icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.box.is-uploading .box-input,
.box.is-success .box-input,
.box.is-error .box-input {
    visibility: hidden;
}

.upload-label {
    display: none;
}

.upload-label.show {
    display: block;
    color: black;
}

.box.hidden {
    display: none;
}

.upload-results-container,
.box-uploading,
.box-success,
.box-error {
    display: none;
}

.box.is-uploading .box-uploading,
.box.is-success .box-success,
.box.is-error .box-error {
    display: block;
    /*position: absolute;
    top: 50%;
    right: 10;
    left: 0;*/

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box-uploading {
    font-style: italic;
}

.box-success {
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }
    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }
    75% {
        transform: translateY(-50%) scale(1.1);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

.box-restart {
    font-weight: 700;
}

.box-restart:focus,
.box-restart:hover {
    color: #39bfd3;
}

.box.hidden.has-advanced-upload {
    display: none;
}

.box-uploading.working {
    display: block;
    margin-top: 5px;
    /*position: absolute;
    top: 50%;
    right: 10;
    left: 0;*/

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.upload-results-container.working {
    display: block;
}

.js .box-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.js .box-file + label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.js .box-file + label:hover strong,
.box-file:focus + label strong,
.box-file.has-focus + label strong {
    color: #39bfd3;
}

.js .box-file:focus + label,
.js .box-file.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.js .box-file + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.no-js .box-file + label {
    display: none;
}

.no-js .box-button {
    display: block;
}

.box-button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box-button:hover,
.box-button:focus {
    background-color: #0f3c4b;
}
