.edit-image-container {
    border: 1px solid black;
    display: flex;
    max-height: 33vh;
    max-width: 50vw;
    margin-bottom: 2vh;
    
    flex-direction: column;
}


.edit-image-inner-container.over,
.edit-image-container.over,
.edit-image-button-container.over {
    background-color: #eaeaea;
}

.edit-image-inner-container {
    display: flex;
    flex-direction: column;
}

.edit-image-form-container {
    display: flex;
    flex-direction: row;
}

.edit-image-button-container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}



.edit-image-button {
    display: flex;
}

.edit-image-img,
.edit-image-form {
    display: flex;
    
    justify-content: center;
    figure {
        margin: 0;



        img {
            /*max-height: 20vh;*/
            height: calc(20vh / 4)vh;
            width: 7.5rem;
        }
    }

}

.edit-image-input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.edit-image-input {
    display:flex;
}



