.upload-results-container /*.list-feed-container*/ {
    overflow-x: visible;
    min-height: calc(50vh - 106px - 60px);
}

.list-feed-item {
    line-height: 1.5
}

.list-feed-item>* {
    display: inline-block;
    vertical-align: middle;
}

.uploads-list-feed-item {
    padding: 30px;
}

.media-body {
    margin-left: 10px;
}
