.split-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.split-section.left {
    background-color: rgba(0, 123, 255, 0.1); /* Light blue background for left section */
}

.split-section.right {
    background-color: rgba(108, 117, 125, 0.1); /* Light gray background for right section */
}

.about-row {
    display: flex;
    justify-content: space-between;
}

.contact-row {
    display: block;
}

.split-section > p {
    font-weight: 600;
}

p.contact {
    display: block;
    text-align: center;
}

.listen-now-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008080; /* Teal color */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.listen-now-btn:hover {
    background-color: #006666; /* Darker teal for hover effect */
}

